{% extends 'base.html' %}
{% block title %}Crear cuenta{% endblock %}
{% block content %}
<h2>Crear cuenta</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
    <p>Nombre de usuario: <input type="text" name="username" required></p>
    <p>Correo electrónico: <input type="email" name="email" required></p>
    <p>Contraseña: <input type="password" name="password" required></p>
    
    <p>Selecciona tu rol:
        <select name="role" required>
            <option value="" disabled selected>-- Elige una opción --</option>
            <option value="attendee">Asistente</option>
            <option value="organizer">Organizador</option>
        </select>
    </p>
    
    <p><input type="submit" value="Registrarse"></p>
</form>

<p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
{% endblock %}