{% extends 'user/base.html' %}

{% block title %}Crear Evento{% endblock %}

{% block content %}
<h2>Crear Nuevo Evento</h2>

<form action="{{ url_for('events.create_event') }}" method="POST">
    <p>Título:<br><input type="text" name="titulo" required></p>
    <p>Descripción:<br><textarea name="descripcion"></textarea></p>
    <p>Fecha:<br><input type="date" name="fecha" required></p>
    <p>Capacidad:<br><input type="number" name="capacidad" required></p>
    <p>Categoría:<br><input type="text" name="categoria" required></p>
    <p><input type="submit" value="Crear Evento"></p>
</form>

<p><a href="{{ url_for('events.events_list') }}">Volver al listado</a></p>
{% endblock %}