<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Evento</title>
</head>
<body>

    <h1>Crear Evento</h1>

    <form method="POST">

        <label>Título:</label><br>
        <input type="text" name="titulo"><br><br>

        <label>Descripción:</label><br>
        <textarea name="descripcion"></textarea><br><br>

        <label>Fecha:</label><br>
        <input type="date" name="fecha"><br><br>

        <label>Capacidad:</label><br>
        <input type="number" name="capacidad"><br><br>

        <label>Categoría:</label><br>
        <input type="text" name="categoria"><br><br>

        <button type="submit">Crear Evento</button>

    </form>

</body>
</html>